@use 'partials/vars';
@use 'partials/animation';

footer {
  background-color: vars.$one-color;
  color: white;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  height: 350px;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0;
}

.footer-menu {
  display: flex;
}

address .footer-menu {
  flex-grow: 1;
  flex-basis: 300px;
}

.footer-menu {
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1rem;
}

address {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-style: normal;
  padding: 0;
  padding: 0px 0px 1px;
}

address a {
  text-decoration: none;
  color: inherit;
}

.footer-menu li {
  cursor: pointer;
}

footer li,
footer li a {
  // color: var(--one-color);
  font-size: 1rem;
  line-height: 2;
}
footer li,
footer li a {
  color: inherit;
  font-size: 1rem;
}

footer li a {
  text-decoration: none;
  padding: 1rem 0 0;
  line-height: 1.6;
}

footer span.navn {
  font-weight: 700;
  text-transform: uppercase;
}

// footer .footer-menu ul li:first-child,
// footer .footer-menu ul li:first-child a{
//   font-size: 1rem;
//   line-height: 1.6;
//   color: inherit;
//   text-transform: uppercase;
// }

.contact {
  font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" -15, "ital" 1;
  font-size: 1rem;
  line-height: 1.6;
  color: inherit;
  text-transform: uppercase;
  padding: 0;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: auto;
  padding: 0 0 1rem;
  margin: 0;
}

.social-item {
  cursor: pointer;
  margin-inline-end: 2rem;
  max-height: 46px;
  transition: transform 0.2s ease-out 0s;
  transition: 200ms, transform 200ms;
  transform-box: fill-box;
}

.social-item a {
  display: block;
  width: 30px;
  height: 100%;
  max-height: 2rem;
  /*   */
}

.social-item:hover a svg,
.social-item:focus a svg {
  color: vars.$two-color;
  transition-timing-function: cubic-bezier(0.08, 0.73, 0.83, 0.67);
  animation: color_change 5s ease forwards infinite;
  transform: scale(1.2);
  transform-box: fill-box;
}

.copyright {
  width: 100%;
  padding: 1rem 1rem 0;
}

.copyright p {
  //   color: white;
  padding: 0rem;
  font-size: 0.8rem;
}

/*Hover animation #Portfolio*/

.footer-menu li > a.underline {
  position: relative;
  // color: vars.$one-color;
  text-decoration: none;
}

// .footer-menu li > a.underline:hover {
//   color: var(vars.$one-color);
// }

.footer-menu li > a.underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: vars.$two-color;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.footer-menu li > a.underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* Hover Animation slut*/
