$color-default-bg: #f6f5f5;
$base-color: #32325d;
$one-color: #32325d;
$two-color: #9059ff;
$three-color: #6868b3;
$grey-color: #666666;
$white-color: #ffffff;

$default-icon: currentColor;
$night-bg-color: #0a0a29;
$night-color: #e1e8f5;
$night-color-two: #c0c0c0;
$night-color-three: rgba(144, 144, 144, 0.1);

$night-icon: currentColor;
$transition-one: 500ms;
$transition-two: 250ms;
$icon-transition: opacity $transition-one ease, transform $transition-one cubic-bezier(1, 0, 0.55, 0.85);
// Typography
$font-stack: "recursive-subset", "Recursive", sans-serif;
