@use 'partials/reset';
@use 'partials/vars';
@use 'partials/mixins';
@use 'partials/header';
@use 'partials/footer';

@use 'partials/typography';

@font-face {
  font-family: "Recursive";
  font-weight: 300 1000;
  font-style: oblique 0deg 15deg;
  src: url("/static/fonts/Recursive_VF_1.043--subset-GF_latin_basic.woff2") format("woff2-variations");
}

// :root {
//   --scrollRatio: 0;
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // scroll-behavior: smooth;
}

body {
  color: vars.$base-color;
  background: vars.$bg-color;
  font: 100% vars.$font-stack;
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 0;
}

button {
  cursor: pointer;
  font-family: 100% vars.$font-stack;
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;
  padding: 0.75rem 1rem;
}

main {
  display: grid;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  // width: 100vw;
}

.home-wrapper {
  /* height: calc(100vh - 18px); */
  min-height: 100vh;
  height: 100%;
  /* overflow: scroll; */
  /* scroll-behavior: smooth; */
  overflow-y: auto;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  perspective: 2px;
  width: 100vw;
  padding: 1rem;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  // scroll-snap-align: start;
  // width: 100%;
  // position: sticky;
  // top: 0;
  // width: 100vw;

  &:nth-last-child(1) {
    // height: 100vh;
    scroll-margin-bottom: 350px;
  }

  .section-header {
    margin: 0 auto;
    padding: 6rem 0 1rem;
    max-width: 1400px;
  }
}
