@use 'partials/vars';

footer {
  background-color: vars.$one-color;
  color: white;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0;
}

.footer-menu {
  display: flex;
}

address .footer-menu {
  flex-grow: 1;
  flex-basis: 300px;
}

footer address,
.footer-menu {
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1rem;
}

address {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-style: normal;
}

address ul {
  padding-bottom: 1rem;
}

address a {
  text-decoration: none;
  color: inherit;
}

.footer-menu li {
  cursor: pointer;
}

footer li,
footer li a {
  color: inherit;
  font-size: 1rem;
}

footer li a {
  text-decoration: none;
  padding: 1rem 0;
}

footer span.navn {
  font-weight: 700;
  text-transform: uppercase;
}

footer .find a,
footer .footer-menu ul li:first-child,
footer .footer-menu ul li:first-child a,
footer .lokalitet :first-child {
  // font-family: "kontrapunkt_mikibold", Arial, Helvetica, Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: inherit;
  text-transform: uppercase;
}

footer h4 {
  // font-family: "kontrapunkt_mikibold", Arial, Helvetica, Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: inherit;
  text-transform: uppercase;
  padding: 0;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: auto;
  padding: 0;
  margin: 0;
}

.social-item {
  /*            width: 1.75rem;*/
  cursor: pointer;
  padding: 0.5rem;
  max-height: 46px;
  transition: transform 0.2s ease-out 0s;
  transition: 200ms, transform 200ms;
  transform-box: fill-box;
}

.social-item:not(:last-child) {
  margin-right: 0.75rem;
}

.social-item a {
  display: inline-block;
  padding: 10px;
  width: 30px;
  height: 100%;
  margin: auto 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(332deg) brightness(101%) contrast(101%);
  max-height: 2rem;
  /*   */
}

.social-item:hover a,
.social-item:focus a {
  filter: invert(33%) sepia(100%) saturate(1363%) hue-rotate(239deg) brightness(100%) contrast(103%);
  transform: scale(1.3);
  transform-box: fill-box;
}

// Color
// .wdc-animate-color {
//   transition: background-color 0.2s ease-out 0s;
// }

// .wdc-animate-color.wdc-animate {
//   background-color: $wdc-color-blueberry-600;
// }

// a.instagram {
//     background-image: url(files/svg_icons/instagram.svg);
// }

// a.facebook {
//   background-image: url(files/svg_icons/facebook.svg);
// }
a.codepen {
  background-image: url(/static/svg_icons/codepen.svg);
}

a.linkedin {
  background-image: url(/static/svg_icons/linkedin.svg);
}

a.github {
  background-image: url(/static/svg_icons/github.svg);
}

.copyright {
  width: 100%;
  padding: 1rem 1rem 0;
}

.copyright p {
  //   color: white;
  padding: 0rem;
}
