@use 'partials/vars';

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  background: #f6f5f5;
  color: vars.$one-color;
  font-size: 1.6rem;
  transition: 0.5s all ease;
  padding: 0.75rem 1rem;
  position: sticky;
}

.topnav {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;
  max-width: 1400px;
  padding: 0;
  margin: 0 auto;
  font-size: 1.6rem;
  transition: 0.5s all ease;
  z-index: 5;
  background: transparent;
  color: vars.$one-color;
}

.menu-top {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  /*    max-width: 1400px;*/
  width: 100%;
  margin: auto;
}

a.hjem {
  color: inherit;
  font-size: 1.5rem;
  text-decoration: none;
  margin: auto 0;
  white-space: nowrap;
  font-variation-settings: "MONO" 0, "CASL" 1, "wght" 700, "slnt" -15, "ital" 1;
  // padding: 0.5rem 1rem;
  // margin: auto 0;
}

a.hjem:hover {
}

.home {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

/*** Burger-menu ***/

/* Animationen af menuen er inspireret af W3schools: How TO - Menu Icon. Link: https://www.w3schools.com/howto/howto_css_menu_icon.asp */
.topnav .menuknap {
  cursor: pointer;
  background-color: transparent;
  color: vars.$one-color;
  padding: 0.5rem 0;
}

.bar1,
.bar2 {
  width: 34px;
  height: 5px;
  background-color: vars.$one-color;
  /*    margin: 4px 0;*/
  transition: 0.4s;
  border-radius: 40%;
}

.bar2 {
  margin-top: 4px;
}

/* Roterer den fÃ¸rste bar */
.responsive .bar1 {
  transform: rotate(-45deg) translate(-1px, 5px);
}

/* Roterer den anden bar */
.responsive .bar2 {
  transform: rotate(45deg) translate(-1px, -5px);
}

/*** Burger-menu - Slut ***/

.menu-wrapper {
  width: 100%;
  margin: auto;
}

.menu-wrapper a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;
  height: 100%;
}

.menu-wrapper .menu-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto 0;
}

.menu-wrapper li {
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  color: inherit;
  height: 100%;
}

.menu-wrapper li a {
  font-size: 1rem;
  text-align: left;
  height: 100%;
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  line-height: 1.25;
}

.menu-list li:hover,
.menu-list li:focus-within {
  background: #6670a0;
  color: vars.$white-color;
  cursor: pointer;
}

/* Styling af links i min navigation bar */
.menu-wrapper a:hover,
.menu-wrapper a:active,
.dropdown:hover,
.dropdown .dropbtn:active,
.dropdown .dropbtn:hover {
  font-weight: 800;
}

// .dropdown:hover {
//     background-color: var(--colorTwo);
//     color: vars.$white-color;

// }

// .dropdown {
//     height: 100%;
//     display: block;
// }

// /* Styling af dropdown knap + content */
// .dropdown .dropbtn {
//     border: none;
//     outline: none;
//     background-color: transparent;
//     color: inherit;
//     font-size: 1rem;
//     line-height: 1.25;
//     padding: 1rem;
//     margin: 0;
//     font-size: inherit;
//     overflow-wrap: initial;
//     hyphens: initial;
//     display: block;
// }

// .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: var(--colorSix);
//     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//     z-index: 1;
//     flex-direction: column;
// }

// .dropdown-content li {
//     color: var(--baseColor);

// }

// .dropdown-content li:hover {
//     color: inherit;
//     background-color: #9688b4;

// }

// .dropdown:hover .dropdown-content {
//     display: block;
// }

// .dropdown-content a.menubtn.underline {
//     padding: 1rem;
//     text-decoration: none;
//     display: inline-block;
//     text-align: left;
//     height: 100%;
//     color: var(--baseColor);
//     color: inherit;
// }

#navigation.change-header {
  background: var(--colorSix);
  color: vars.$one-color;

  mix-blend-mode: initial;
}

#navigation.change-header .bar1,
#navigation.change-header .bar2 {
  background-color: vars.$one-color;
}

@media screen and (max-width: 800px) {
  /* NÃ¥r skÃ¦rmstÃ¸rrelsens bredde er mindre end 800px, skjules alle menu-links til fordel for min burgermenu. */
  .menu-wrapper a,
  .menu-wrapper li a,
  .dropdown .dropbtn {
    display: none;
  }

  /* Der tilfÃ¸jes en class ("responsive") til topnav vha. JavaScript, nÃ¥r der klikkes pÃ¥ menuknappen. */
  #navigation.topnav.responsive {
    position: relative;
    background-color: var(--baseColor);
    color: vars.$one-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .topnav.responsive .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    padding: 60px 0;
  }

  .topnav.responsive .menu-wrapper ul {
    margin: 0 0 auto;
    flex-direction: column;
    width: 100%;
  }

  .topnav.responsive .menu-wrapper li {
    width: 100%;
  }

  /* Ved klik pÃ¥ burger-menu vises menu-links*/
  .topnav.responsive .menu-wrapper a {
    display: inline-block;
    background: transparent;
  }

  // .dropdown .dropbtn,
  .topnav.responsive .menu-wrapper a {
    font-size: calc(1rem + 1vw);
    text-align: left;
  }

  .topnav.responsive .dropdown {
    width: 100%;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
  }

  #navigation.change-header.responsive .bar1,
  #navigation.change-header.responsive .bar2 {
    background-color: vars.$one-color;
  }

  // #navigation.change-header.responsive .responsive .dropbtn,
  #navigation.change-header.responsive .dropbtn {
    // background-color: var(--colorOne);
    color: vars.$one-color;
  }

  // .dropdown:hover .dropbtn {
  //     background: inherit;
  // }
}

@media only screen and (min-width: 800px) {
  .menu-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /* Skjuler burger-menu */
  .topnav .menuknap {
    display: none;
  }

  .menu-top {
    flex-direction: row;
    padding: 0 1rem;
  }
}
