$base-color: #32325d;
$one-color: #32325d;
$two-color: #9059ff;
$bg-color: #f6f5f5;
// $green-color: #004153;
// $grey-color: #666666;
$white-color: #ffffff;

// Typography
$font-stack: "recursive-subset", "Recursive", sans-serif;

// :root {
// }
