@use 'partials/reset';
@use 'partials/vars';
@use 'partials/mixins';
@use 'partials/header';
@use 'partials/footer';
@use 'partials/animation';
@use 'partials/typography';

@font-face {
  font-family: "Recursive";
  font-weight: 300 1000;
  font-style: oblique 0deg 15deg;
  src: url("/static/fonts/Recursive_VF_1.047.woff2") format("woff2-variations");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // scroll-behavior: smooth;
}

body {
  color: vars.$base-color;
  background: vars.$color-default-bg;
  font: 100% vars.$font-stack;
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 0;
}

body.dark {
  background: vars.$night-bg-color;
  color: vars.$night-color;
}

button {
  cursor: pointer;
  font: 100% vars.$font-stack;
  font-size: 1rem;
  font-style: normal;
  padding: 0.75rem 1rem;
}

.snap-wrapper {
  min-height: 100vh;
  height: 100%;
  // /* overflow: scroll; */
  // /* scroll-behavior: smooth; */
  overflow-y: auto;
  overflow-y: scroll;
  scroll-snap-type: y proximity;

  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.wrapper {
  padding: 1.25rem;
  max-width: 1400px;
  margin: 0 auto;
}

#hero,
section {
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  scroll-snap-align: start;
  position: sticky;
  // width: 100%;
  // top: 0;
  // width: 100vw;

  // &:nth-last-child(1) {
  //   // height: 100vh;
  //   scroll-margin-bottom: 350px;
  // }

  .section-header {
    margin: 0 auto;
    padding: 6rem 1.25rem 1rem;
    max-width: 1400px;
  }
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10vh 1.25rem;
  height: 100vh;
  width: 100%;
  background: vars.$night-color;

  .hero-content {
    margin-top: auto;
    margin-bottom: auto;
  }

  .dot {
    color: #9059ff;
  }

  p {
    padding: 1rem 0;
  }

  .arrow a {
    text-decoration: none;
    font-family: "recursive-subset", "Recursive", sans-serif;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 700, "slnt" 0, "CRSV" 0;
    padding-bottom: 5vh;
    font-size: calc(2rem + 1vw);
    -webkit-animation: heroArrow infinite;
    animation: heroArrow infinite;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
  }

  .arrow a:hover {
    color: #9059ff;
    transition: all 0.2s cubic-bezier(0.08, 0.73, 0.83, 0.67) 0s;
    animation: color_change 10s ease forwards infinite;
  }
}

.dark #hero {
  background: vars.$night-color-three;
}

.reveal {
  -webkit-animation: reveal 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: reveal 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  opacity: 0;
}

@-webkit-keyframes reveal {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes reveal {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

/*------------ Projects ------------*/

.full {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  min-height: 20vh;
  place-content: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0.625rem 10vh;
}

.carousel-wrapper {
  margin: 0 auto;
}

.carousel {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-behavior: auto;
  display: grid;
  grid-auto-flow: column;
  white-space: nowrap;
  // padding: 5vh 0;
  padding: 0.5rem 0;
  width: auto;

  /*  webkit-overflow-scrolling:for safari */
  -webkit-overflow-scrolling: auto;
  -webkit-overflow-scrolling: touch;

  /*
  - Scrollbar-width:
  - Removes Scrollbar. Only in Firefox
  - Link: https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width
  */

  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  width: 0;
}

/**
 *  Project Cards
 */

.card-shadow {
  padding: 0.625rem;
}

.project-card {
  text-align: center;
  background: white;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 1rem;
  position: relative;
  box-shadow: none;
  transition: transform 300ms ease-in-out, box-shadow 400ms ease, background 100ms ease;
  width: 255px;
}

.dark .project-card {
  background-color: vars.$night-color;
}

.project-card:hover,
.project-card:focus-within {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.5rem);
  cursor: pointer;
}

.project-name {
  padding: 0 0 1rem;
  font-size: 0.85rem;
}

.dark .project-name {
  color: vars.$night-bg-color;
}

.case-bg,
.dmst-bg,
.koga-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  position: relative;

  .traffic-logo,
  .dmst-logo,
  .koga-white {
    max-width: 150px;
  }

  .dmst-logo,
  .koga-white {
    fill: white;
  }
}

.case-bg {
  background: vars.$base-color;
  color: vars.$color-default-bg;
}

.soon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  white-space: normal;
  background-color: vars.$two-color;
  color: vars.$color-default-bg;
  padding: 1rem;
  hyphens: manual;
  // transform: translateY(calc(100% - 4.5rem));
  opacity: 0;
  transform-origin: center top;
  transform: scaleY(0);
  transition: transform 0.35s ease-in;

  p {
    transform: translateY(calc(100% - 4.5rem));
    opacity: 0;
    transform: translateY(1rem);
    transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.project-card:hover .soon {
  // background: vars.$base-color;
  // color: vars.$color-default-bg;
  opacity: 1;
  transform-origin: center bottom;
  transform: scaleY(1);
  transition-delay: calc(700ms / 8);
  transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);

  p {
    transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(700ms / 8);
  }
}

.project-card:hover .soon::before {
  width: 120%;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
  transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
  width: 120%;
  opacity: 0.8;
}

.koga-bg {
  background: #0e7dc7;
}

.dmst-bg {
  background: #d95e00;
}

.traffic-bg {
  background: #28292c;
}

/**
 * Preloader
 */

.preloader {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: vars.$base-color;
  pointer-events: none;
  opacity: 1;
  transition: 1.2s cubic-bezier(0.53, 0.04, 0.31, 0.88);
}

/**
 * Dark-Mode
 */

#skills {
  background: vars.$night-color;
  height: calc(100vh - 244px);
}

.dark #skills {
  background: vars.$night-bg-color;
}

.skills {
  // padding: 1rem;
  ul {
    list-style: initial;
    margin: 0.25rem 2rem;
  }
  li {
    list-style: initial;
    line-height: 1.6;
  }
}

#case {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  color: currentColor;
  background: vars.$color-default-bg;
  padding: 6rem 0 0;

  .close-btn {
    // font-size: 2rem;
    // font-weight: 700;
    color: currentColor;
    background-color: transparent;
    border: none;
    position: absolute;
    min-width: initial;
    top: 2rem;
    left: 2rem;
    font-family: "Recursive";
    text-decoration: none;
    font-family: "recursive-subset", "Recursive", sans-serif;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 700, "slnt" 0, "CRSV" 1;
    padding-bottom: 5vh;
    font-size: calc(2rem + 1vw);

    cursor: pointer;
    padding: 0;
  }

  .case-study {
    display: flex;
    flex-wrap: wrap;

    .col {
      flex: 1;
      flex-basis: 400px;
      display: flex;
      flex-direction: column;
    }

    .featured-media {
      padding: 0 1rem;
    }
  }
  .case-header {
    // margin: 0 auto;
    padding: 6rem 1rem 1rem;
    max-width: 1400px;
  }

  .info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px;
    margin-bottom: 2rem;
  }

  .info {
    padding: 1rem 0;
    flex-grow: 1;
    flex-basis: 300px;
    list-style: none;

    dt,
    dd {
      padding: 0rem 1rem;
      font-size: 1rem;
      line-height: 1.6;
    }

    dt {
      color: vars.$grey-color;
      font-variation-settings: "MONO" 0, "CASL" 0, "wght" 600, "slnt" 0, "CRSV" 0;
    }
  }
}

[data-client="koga"] .info-img {
  padding: calc(100px + 5vw) 100px;
  background: #0e7dc7;
  max-width: 700px;
  place-items: center;
}

.dark #case {
  background: vars.$night-bg-color;
}
