@use 'partials/reset';
@use 'partials/vars';
@use 'partials/mixins';
@use 'partials/header';
@use 'partials/footer';
@use 'partials/animation';
@use 'partials/typography';

@font-face {
  font-family: "Recursive";
  font-weight: 300 1000;
  font-style: oblique 0deg 15deg;
  src: url("/static/fonts/Recursive_VF_1.043--subset-GF_latin_basic.woff2") format("woff2-variations");
}

// :root {
//   --scrollRatio: 0;
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // scroll-behavior: smooth;
}

body {
  color: vars.$base-color;
  background: vars.$bg-color;
  font: 100% vars.$font-stack;
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 0;
}

button {
  cursor: pointer;
  font-family: 100% vars.$font-stack;
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;
  padding: 0.75rem 1rem;
}

main {
  display: grid;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  // width: 100vw;
}

.home-wrapper {
  /* height: calc(100vh - 18px); */
  min-height: 100vh;
  height: 100%;
  /* overflow: scroll; */
  /* scroll-behavior: smooth; */
  overflow-y: auto;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  perspective: 2px;
  width: 100vw;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  padding: 1rem;
  // scroll-snap-align: start;
  // width: 100%;
  // position: sticky;
  // top: 0;
  // width: 100vw;

  // &:nth-last-child(1) {
  //   // height: 100vh;
  //   scroll-margin-bottom: 350px;
  // }

  .section-header {
    margin: 0 auto;
    padding: 6rem 1rem 1rem;
    max-width: 1400px;
  }
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  h1 {
    padding-bottom: 20vh;
  }

  // .arrow {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  .arrow a {
    text-decoration: none;
    font-family: "recursive-subset", "Recursive", sans-serif;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 700, "slnt" 0, "ital" 1;
    // font-variation-settings: "PROP" 0, "XPRN" 1, "wght" 700, "slnt" 0, "ital" 0;
    padding-bottom: 5rem;
    font-size: calc(2rem + 1vw);
    padding-bottom: 10vh;
  }

  .arrow a:hover {
    color: #9059ff;
    transition-timing-function: cubic-bezier(0.08, 0.73, 0.83, 0.67);
    animation: color_change 10s ease forwards infinite;
  }
}

/*------------ Projects ------------*/

#projects {
  padding: 1rem 0;
}

#section_2 h2 {
  color: var(--baseColor);
}

.full {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--colorSix);
}

.grid-container {
  display: grid;
  min-height: 20vh;
  place-content: center;
  max-width: 1400px;
  margin: 0 auto;
}

.carousel-wrapper {
  /* margin-left: 1rem; */
  margin: 0 auto;
}

.carousel {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-behavior: auto;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  white-space: nowrap;
  padding: 10vh 0;
  width: auto;

  /*  webkit-overflow-scrolling:for safari */
  -webkit-overflow-scrolling: auto;
  -webkit-overflow-scrolling: touch;

  /*
  - Scrollbar-width:
  - Removes Scrollbar. Only for Firefox
  - Link: https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width
  */

  scrollbar-width: none;
}

.carousel:before,
.carousel:after {
  content: "";
}

.carousel::-webkit-scrollbar {
  width: 0;
}

.product-card {
  text-align: center;
  background: var(--whiteColor);
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 1rem;
  position: relative;
  box-shadow: none;
  transition: transform 300ms ease-in-out, box-shadow 400ms ease, background 100ms ease;
}

.is-visible .product-card:hover,
.is-visible .product-card:focus-within {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.5rem);
  cursor: pointer;
}

.carousel .product-card {
  width: 250px;
}

.koga-logo,
.carousel .billede_side {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 350px;
}

.product-name {
  text-transform: capitalize;
  padding: 0 0 1rem;
}

/*-----------------------------------*/
